{% extends 'global/base.html' %}

{% block bloco_body %}
    <article class="post">
        {% for post in posts %}
            {% include "global/partials/postblock.html" %}
        {% endfor %}
        <div class="code-container">
            <pre><code class="language-python">
                def saudacao(nome):
                """Função para saudar o usuário"""
                return f"Olá, {nome}!"

                def somalista(lista):
                    """Função para calcular a soma dos elementos da lista"""
                    return sum(lista)
                    def saudacao(nome):
                """Função para saudar o usuário"""
                return f"Olá, {nome}!"

                def somalista(lista):
                    """Função para calcular a soma dos elementos da lista"""
                    return sum(lista)
                    def saudacao(nome):
                """Função para saudar o usuário"""
                return f"Olá, {nome}!"

                def somalista(lista):
                    """Função para calcular a soma dos elementos da lista"""
                    return sum(lista)
                    def saudacao(nome):
                """Função para saudar o usuário"""
                return f"Olá, {nome}!"

                def somalista(lista):
                    """Função para calcular a soma dos elementos da lista"""
                    return sum(lista)
                    def saudacao(nome):
                """Função para saudar o usuário"""
                return f"Olá, {nome}!"

                def somalista(lista):
                    """Função para calcular a soma dos elementos da lista"""
                    return sum(lista)
                </code></pre>
            </div>
            <!-- Inclusão do Prism.js para destaque de sintaxe -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
    </article>
{% endblock bloco_body %}